body{
   background-color: rgb(238, 111, 111);
   position: fixed;
	
   
}

title{
	background-color: #333;
	height: 3em;
	color: #FFF;
   margin-bottom: 1em;
   font-family: Arial, Helvetica, sans-serif;
}

/*estilo do "conversão de temperatura */
 h1{
    border-width: 12cm;
    border-color: blue;
   height: 1cm; 
   display: block;
	border: none;
	border-bottom: 1px solid white;
	background: none;
	padding: 20px 10px;
	font-size: 2em;
	width: 100%;
	text-transform: uppercase;
	outline: none;
	color: brown;
   box-sizing:inherit;
   background-color: aquamarine;
   top: 10%
   
}
header h2{
	font-size: 2em;
	display:inline-block;
	vertical-align:	middle;
}

header{
	content: '';
	display:inline-block;
	height: 100%;
	vertical-align:	middle;
}

input, input_temp{
	width: 40%;
	padding: 12px 20px;
	margin: 8px 0;
	border: 2px solid black;
	border-radius: 2px;
	background-color: #3CBC8D;
	color: white;
	box-sizing: border-box;
	font-family: 'Times New Roman', Times, serif;
	font-size: 1em;
	position:inherit;
	 -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  
	
}
input:focus {
	width: 87%;
  }

  select{
	font-family: 'Times New Roman', Times, serif;
	background-color: DodgerBlue;
    content: "";
    top: 14px;
  	right: 10px;
   	border: 6px solid transparent;
  	border-color: #fff transparent transparent transparent;
  	border-color: transparent transparent #fff transparent;
  	top: 7px;
  	color: #ffffff;
  	padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  background-color: midnightblue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  }